// 1. Import the initial variables
@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

// 2. Set your own initial variables
$green: #289431;
$green-invert: #fff;
$lightgreen: #b5c755;
// Add a serif family
//$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
$primary: $green;
$secondary: $lightgreen;
$primary-invert: $green-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
//$family-primary: $family-serif;

// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-pageloader/dist/css/bulma-pageloader.sass"
