<<<<<<< HEAD
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


=======
>>>>>>> 49c4ce49f81b91d607997041769ca7b95769979f
.co2-chart {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
    --labels-size: 100px;
}

/*-----Travel Distance Input Field*/
.input-field-wrapper {
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
    width: max-content;
}

.placeholder {
    position: absolute;
    right: 4px;
    top: 0.7rem;
    pointer-events: none;
    opacity: .5;
}


/*--------Co2 Visualizations CSS----------------------*/

.lines,
.months {
    opacity: 0;
}
