@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.co2-chart {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
    --labels-size: 100px;
}

.is-primary {
    background-color: #71bf71
}
